body {
    margin: 0px;
}
.left-bar {
    background-color: #121111;
    width: 17%;
    max-width: 30%;
    min-width: 15%;
    resize: horizontal;
    overflow: hidden;
    height: 100vh;
}
.img-logo{
    width: 120px;
    height: auto;
}
.logo{
    width: 35%;
    padding-top: 25px;
    padding-left: 25px;
    height: 80px;
}

.features {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
  
.button-features {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding: 8px 25px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
  
.button-features:hover .fa-home, .fa-music, .fa-search {
    color: rgba(255, 255, 255, 0.779);
}

.button-features:hover .text-button {
    color: rgba(255, 255, 255, 0.779);
}
  
.fa-home {
    
    margin-right: 10px;
}
.fa-search{
    margin-right: 10px;
}
.fa-music{
    margin-right: 10px;
}
@media only screen and (max-width: 768px) {
  .left-bar {
    width: 30%;
    min-width: 30%;
    max-width: 30%;
  }
}

@media only screen and (max-width: 480px) {
  .left-bar {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}
